*{
    margin: 0;
    padding: 0;
    
}
.container-fluid{
 
 background-color: #D3E9E9;
 width: 100%;
 color:aliceblue;
 height: 100vh;
 
}
#UpDiv{
background-color: #044B5B;
}

.col-md-10 h4{
    margin-top: 20px;
    margin-left: 40px;
}
.col-md-2 img{
    margin-left: 22px;
    margin-top: 15px;
    background-color: aliceblue;
    border-radius: 60px;
}
#FormImg{
    box-sizing: border-box;
    width: 110px;
    height: 141px;

    
}

.the-MiddleDiv{
    box-sizing: border-box;
    width: 1440px;
    height: 250px;
    background-color: #F3ECEC;
    color: black;
}
#BottomDiv h4{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 60px;
    color: #0A208C;
}
.FormContainer{
    padding: 10px;
    margin-top: 30px;
    background-color: #ffffff;
    color: black;
    margin-left: 50px;
    width: 130px;
}
span{
    margin-left: 28px;
}
#ConnexionLink{
    all: unset;
    cursor: pointer;
}
#RecalamationLink{
    all: unset;
    cursor: pointer;
}