*{
    margin: 0px;
    padding: 0px;
    
}
.container-fluid{
 
 background-color: #D3E9E9;
 width: 100%;
 color:aliceblue;
 height: 100vh;
 margin: 0;
}
#UpDiv{
background-color: #044B5B;
}

.col-md-10 h4{
    margin-top: 20px;
    margin-left: 40px;
}
.col-md-2 img{
    margin-left: 22px;
    margin-top: 15px;
    background-color: aliceblue;
    border-radius: 60px;
}
#FormImg{
    box-sizing: border-box;
    width: 110px;
    height: 141px; 
}

.col-md-3{
    box-sizing: border-box;
    color: black;
}
#BottomDiv{
    margin-top: 60px;
    /* margin-right: 0px;
    width: 100%; */
    height: 250px;
    background-color: #F3ECEC;
}
.FormContainer{
    padding: 10px;
    margin-top: 30px;
    background-color: #D3E9E9;
    color: black;
    margin-left: 50px;
    width: 130px;
}
span{
    margin-left: 28px;
}
#ConnexionLink{
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Affiche verticalement */
    align-items: center; 
}
#RecalamationLink{
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Affiche verticalement */
    
}
#RecalamationLink span{
    justify-content: center;
}
#header-title{
    margin-top: 25px;
}

#title-page{
     margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 60px;
    color: #0A208C;
}
#Table-span{
    margin-left: 65px;
}
#form-span{
    margin-left: 40px;
}